<a href="https://colab.research.google.com/github/Nk4323/python/blob/main/Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
  # SEQUENCE SERIES
  n = int(input("enter n"))

  result = 0
  fact = 1
  for i in range(1, n+1):
    fact = fact * i
    result = result + i/fact
  print(result)

enter n54
2.7182818284590455

In [8]:
for i in range(1,5):
  for j in range(1,5):
    print(i,j)

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4
4 1
4 2
4 3
4 4